<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,, initial-scale=1.0">
    <title>Welcome to Left Right Center!</title>
    <link href="./output.css" rel="stylesheet"></link>
</head>
<body class="body-bg min-h-screen pb-6 px-2 md:px-0">
    <div class="shadow-lg mx-auto px-4 md:flex justify-end space-x-4 bg-purple-500 text-3xl">
        <% if (!loggedIn) { %>
            <a href="/login" class="py-2 px-2 font-medium text-white rounded bg-red-500 hover:bg-red-400 transition duration-300">Log In</a>
            <a href="/register" class="py-2 px-2 font-medium text-white bg-red-500 rounded hover:bg-red-400 transition duration-300">Sign Up</a>
        <% } else { %>
            <form action="/logout" method="post">
                <button class="py-2 px-2 font-medium text-white rounded bg-purple-500 hover:bg-purple-400 transition duration-300">Logout</button>
            </form>
        <% } %> 
    </div>


    <h1 class="text-8xl text-center text-white bg-purple-500 rounded">Left Right Center</h1><br>
    <div class="text-6xl max-w-6xl mx-auto px-4 md:flex justify-center space-x-4">
        <% if (!loggedIn) { %>
            <a href="/username" class="py-2 px-2 font-medium text-white rounded bg-purple-500 hover:bg-purple-400 transition duration-300">New Game</a>
        <% } else { %>
            <form action="/table" method="post">
                <button id="createGame" class="py-2 px-2 font-medium text-white rounded bg-purple-500 hover:bg-purple-400 transition duration-300">New Game</button>
            </form>
            <% } %>
        <a href="/getLink" class="py-2 px-2 font-medium text-white rounded bg-purple-500 hover:bg-purple-400 transition duration-300">Join Game</a>
        <a href="/chat" class="py-2 px-2 font-medium text-white rounded bg-purple-500 hover:bg-purple-400 transition duration-300">chat</a>
    </div>
</body>
</html>