<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LRC!</title>
    <link href="/output.css" rel="stylesheet"></link>
    <script src="/js/socket.js" defer></script>
</head>
<body class="body-bg min-h-screen pb-6 px-2 md:px-0">
    <div id="table" class="bg-green-700 items-center rounded text-center my-2.5">
        <div id="players" class="grid grid-cols-4 grid-rows-4 gap-x-2 gap-y-2">

        </div>
        <p id="rollResult" class="bg-purple-500 text-white font-bold py-2 rounded shodow-lg"></p>
        <p class="bg-purple-500 text-white font-bold py-2 rounded shodow-lg text-xl">Center: $<span id="center"></span><br><span id="winner"></span></p>
        <div>
            <p id="alertArea" class="bg-purple-500 text-white font-bold py-2 rounded shodow-lg text-xl"></p>
            <button id="roll" class="invisible bg-red-500 hover:bg-red-600 text-yellow-400 font-bold px-2 py-2 rounded shadow-lg hover:shadow-xl transition duration-200 my-2.5 items-center">Your Turn To Roll!</button>
        </div>
    </div>
    
    <div>
        <p class="bg-purple-500 text-white text-xl font-bold py-2 rounded shodow-lg my-2.5">Invite your friends! Send them this Table ID: <span id="tableID"></span></p>
    </div>
    
    <div>
        <form id="chatForm" class="bg-black">
            <input type="text" id="messageInput">
            <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 rounded shodow-lg hover:shadow-xl transition duration-200">click here to send a message!</button>
        </form>
        <div id="chatbox" class="bg-white rounded">
            
        </div>
    </div> 
</body>
</html>